body {
    font-family: "Russo One", sans-serif;
}
.inputDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inputDiv button {
    margin-top: 5px;
    width: 70px;
}
.overlay-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    z-index: 100;
}
  
.mapButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.mapButtonInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #007e7e;

}
.mapButtonRemove {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b60000;
}
.mapButtonRefresh {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #717171;
}
.mapClass {
    text-align: center;
    width: 400px;
    border: 1px solid black;
}
.mapClass h3 {
    font-weight: lighter;
    font-size: medium;
}
.mainMap{
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 10px;
}
button {
    font-family: "Russo One", sans-serif;
    background-color: white;
}
input {
    background-color: white;
}
.tooltipstyle {
    background: none;
    border: none;
    box-shadow: none;
}