body {
    font-family: "Russo One", sans-serif;
}
.inputDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inputDiv button {
    margin-top: 5px;
    width: 70px;
}
.mapButtonRemove {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}
.mapClass {
    text-align: center;
    width: 400px;
    border: 1px solid black;
}
.mainMap{
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 10px;
}
button {
    font-family: "Russo One", sans-serif;
    background-color: white;
}
input {
    background-color: white;
}
