body {
    font-family: "Russo One", sans-serif;
}
.inputDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inputDiv button {
    margin-top: 5px;
    width: 70px;
}
.overlay-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    z-index: 100;
}
  
.mapButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.mapButtonInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #007e7e;

}
.mapButtonRemove {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b60000;
}
.mapButtonRefresh {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #717171;
}
.mapClass {
    text-align: center;
    width: 400px;
    border: 1px solid black;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}
.mapClass h3 {
    font-weight: lighter;
    font-size: medium;
}
.mainMap{
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 10px;
}
button {
    font-family: "Russo One", sans-serif;
    background-color: white;
}
input {
    background-color: white;
}
.tooltipstyle {
    background: none;
    border: none;
    box-shadow: none;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border: 1px solid black;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "Russo One", sans-serif;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

input {
    font-family: "Russo One", sans-serif;
    max-width: 190px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    outline: none;
    transition: ease 0.25s;
    box-shadow: black 0 1px 3px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  }
  
input:focus {

    box-shadow: black 0 4px 5px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  }
  /* MapContainer and ButtonContainer Styling */
.map-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* General Button Styling */
  .move-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .move-btn:hover {
    background-color: #45a049;
  }
  
  .move-btn:active {
    background-color: #387f39;
  }
  
  /* Up and Down Specific Styling */
  .move-up {
    background-color: #007BFF; /* Blue */
  }
  
  .move-up:hover {
    background-color: #0056b3;
  }
  
  .move-down {
    background-color: #FF5733; /* Red */
  }
  
  .move-down:hover {
    background-color: #c13e1a;
  }
  
  